<div class="navbar ">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav" id="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="https://devpost.com/software/taxonomia">About</a></li>
                <li><a href="https://github.com/SKaplanOfficial/Taxonomia">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container page-hero">
    <h1>New Taxonomy</h1>
</div>

<%= render "form", taxonomy: @taxonomy%>